.sidebar {
  height: 3%;
  width: 100vw;
  padding-top: 80px;
  z-index: 1;
  position: fixed;
  color: #cec497;
  font-family: 'Cabin', sans-serif;
}

.sidebar ul {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  list-style: none;
  margin-top: -2%;
}

.sidebar li {
  padding: 10px 5px 0 5px;
}

.sidebar a {
  color: #cec497;
  font-weight: 700;
  text-decoration: none;
  margin: 0 5px;
}

.welcome-text {
  font-size: 1.2rem;
  background: #301637;
  margin-top: 0px;
}

@media all and (min-width: 900px) {
  .sidebar {
    height: 100vh;
    width: 125px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #301637;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
  }

  .sidebar a {
    margin: 0;
  }

  .sidebar ul {
    display: block;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -50px;
  }

  .welcome-text {
    font-size: 1.2rem;
    background: #301637;
    height: 125px;
    width: 120px;
    margin-top: 105px;
  }
}
