.sidebar {
  height: 3%;
  width: 100vw;
  padding-top: 80px;
  position: fixed;
  color: #7c7c75;
  font-family: 'Cabin', sans-serif;
}

.sidebar ul {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  list-style: none;
  margin-top: -2%;
}

.sidebar li {
  padding: 10px 5px 0 5px;
}

.sidebar a {
  color: #7c7c75;
  font-weight: 700;
  text-decoration: none;
  margin: 0 5px;
}

@media all and (min-width: 900px) {
  .sidebar {
    height: 25%;
    width: 100px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #303d3b;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    border-bottom-right-radius: 40px;
  }

  .sidebar a {
    margin: 0;
  }

  .sidebar ul {
    display: block;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -50px;
  }

  .logo-box {
    font-size: 1.2rem;
    background: #303d3b;
    height: 125px;
    width: 98px;
    margin-top: -20px;
  }
}
