header {
  background: #301637;
  display: flex;
  flex-flow: row nowrap;
  color: #cec497;
  height: 125px;
  width: 100vw;
  position: fixed;
  font-family: 'Texturina', serif;
  font-weight: 800;
}

header h1 {
  font-size: 2.9em;
  margin-top: -5px;
}

.logo-box {
  height: 125px;
  width: 125px;
  margin-top: -20px;
}

@media all and (min-width: 900px) {
  header {
    width: 40%;
    height: 0;
    margin-left: 100px;
    margin-top: -10px;
    padding-top: 10px;
    background: none;
    z-index: 2;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  header h1 {
    display: none;
    margin-left: 20px;
  }

  .logo-box {
    width: 125px;
    margin-top: -10px;
    margin-left: -101px;
  }
}
