header {
  background: #303d3b;
  color: #7c7c75;
  height: 125px;
  width: 100vw;
  position: fixed;
  font-family: 'Arimo', Arial, Helvetica, sans-serif;
}

header h1 {
  font-size: 1.7em;
  margin-top: 10px;
}

@media all and (min-width: 900px) {
  header {
    width: 40%;
    height: 60px;
    margin-left: 100px;
    margin-top: -10px;
    padding-top: 10px;

    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  header h1 {
    margin-left: 20px;
  }
}
