body {
  margin: 0;
  background: #090a0b;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.main-view {
  padding-top: 160px;
}

@media all and (min-width: 900px) {
  .main-view {
    padding-top: 10px;
    margin-left: 155px;
  }
}
