body {
  margin: 0;
  background: #0b080c;
}

img {
  width: 100%;
  height: auto;
}

.main-view {
  padding-top: 160px;
}

@media all and (min-width: 900px) {
  .main-view {
    padding-top: 90px;
    margin-left: 125px;
  }
}
