body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.main-view {
  border: 1px solid black;
  padding-top: 135px;
}

@media all and (min-width: 900px) {
  .main-view {
    margin-left: 160px;
  }
}
