.cardTitle {
  margin: 0 0 35px 0;
  width: 98vw;
  border-bottom: 2px solid black;
}

.card-contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: -5px 0 10px 0;
  border: 2px solid black;
  width: 98vw;
}
.contact {
  border: 3px solid red;
  line-height: 20%;
  font-size: 0.9em;
}
.no-contacts {
  font-size: 1.2rem;
  padding: 20px;
}

.card-events {
  display: flex;
  flex-flow: column wrap;
  width: 98vw;
  justify-content: space-evenly;
  margin: -5px 0 10px 0;
  border: 2px solid black;
}
.event {
  border: 3px solid green;
  width: 80%;
  align-self: center;
  font-size: 0.9em;
}
.no-events {
  font-size: 1.2rem;
  padding: 20px;
}

.c-email {
  font-size: 0.8em;
}

.contact button {
  font-size: 0.9em;
  padding: 0;
}

.cardEvents {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
}

.card-comments-container textarea {
  width: 80vw;
  height: 100px;
  resize: none;
}

@media all and (min-width: 900px) {
  .cardTitle {
    width: 440px;
  }

  .card-events {
    width: 430px;
  }

  .card-contacts {
    width: 430px;
  }

  .card-comments-container textarea {
    width: 80%;
  }
}
