.edit-icon {
  width: 15px;
}

.add-study-card-container {
  color: #e8ebe4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: #5e646e;
  width: 100vw;
  border: 2px solid #5e646e;
  text-align: center;
  height: 118px;
  margin-top: 15px;
}

.add-study-card-container input {
  margin-top: 6px;
}

.study-card-error-text {
  margin-top: -4px;
  font-size: 0.9rem;
  color: red;
  padding-bottom: 5px;
}

.new-card-form {
  font-size: 0.9em;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 100%;
  line-height: 12px;
}

.new-card-form input {
  height: 10px;
  margin-bottom: 5px;
}

.new-card-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.edit-button {
  padding: 5px;
  width: 30px;
  border: none;
  background: none;
}

@media all and (min-width: 900px) {
  .add-study-card-container {
    width: 440px;
    margin-top: 0;
  }
}
