.card-title {
  background: #5e646e;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;
  width: 100%;
  border-bottom: 2px solid black;
}

.card-container {
  background: #8f96a1;
  width: 100vw;
  border: 2px solid #5e646e;
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
}
.card-container h3 {
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}
.card-contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 0 10px 0;
  width: 98vw;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.card-events {
  display: flex;
  flex-flow: column wrap;
  width: 98vw;
  justify-content: space-evenly;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  line-height: 10px;
}
.event {
  background: rgb(218, 218, 218);
  width: 55%;
  align-self: center;
  font-size: 0.9em;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.no-events {
  font-size: 1.2rem;
  padding: 20px;
}

.c-email {
  font-size: 0.8em;
}

.contact button {
  font-size: 0.9em;
  padding: 0;
}

.cardEvents {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
}

.card-comments-container form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin-bottom: 10px;
}

.card-comments-container textarea {
  width: 80vw;
  height: 100px;
  resize: none;
}

.edit-icon {
  width: 15px;
}

.card-delete-icon {
  align-self: flex-end;
  width: 15px;
  margin-top: 2px;
  margin-left: 5px;
}

.save-comments {
  align-self: flex-end;
  width: 20px;
}

.save-icon {
  align-self: flex-end;
  width: 15px;
  margin-top: 2px;
}

.event-mod-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.edit-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: -10px;
}

.saved {
  color: black;
  margin-top: 10px;
}

@media all and (min-width: 900px) {
  .card-title {
    margin: 0 0 10px 0;
    width: auto;
  }

  .card-events {
    width: 432px;
  }

  .card-contacts {
    width: 432px;
  }

  .card-container {
    width: 440px;
  }

  .card-comments-container textarea {
    width: 80%;
  }
}
