.CardsDisplay {
  display: flex;
  width: 100vw;
  text-align: center;
  flex-flow: row wrap;
  margin: 0;
}

.oneCard {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid black;
  width: 100vw;
  justify-content: flex-start;
  line-height: 20%;
  padding-left: 0.3%;
}

@media all and (min-width: 900px) {
  .CardsDisplay {
    width: 100vw;
  }
  .oneCard {
    width: 440px;
    margin: 5px;
  }
}
